* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
}

body {
    margin: 10px;
    width: 80%;
    border: 2px solid #ddd;
    background-color: #d7b520;
    margin: auto;
}

div.content {
    background-color: #fff;
}

div.frame {
    padding: 20px;
}

header {
    background-image: url(../img/pexels-roderick-salatan-14222331.jpg);
    background-color: #e7e6e6;
    background-position: 100% 25%;
    height: 7em;
    text-align: center;
}

footer {
    height: 6em;
    background: #e7e6e6;
    text-align: center;
    padding-top: 2.2em !important;
}

header,
footer,
aside,
section {
    border: 2px solid #41719c;
    border-radius: 30px;
    padding: 10px;
}

div.main {
    margin: auto;
}

div.main:after {
    content: "";
    clear: both;
    display: table;
}

/* Nav Start */

div.left {
    float: left;
    padding-left: 20px;
    width: 30%;
}

aside {
    background: #5b9bd5;
    text-align: center;
}

ul li {
    list-style-type: none;
    margin: 5px;
}

li a {
    color: black;
    text-shadow: 3px 3px 3px rgb(25, 61, 124);
    font-size: 1.2em;
    font-weight: 450;
}

li a:hover {
    color: #deebf7;
}

button.dropbtn {
    display: none;
}

form {
    margin: 20px;
}

label#form {
    font-size: 1.4em;
    border-top: 2px solid black;
    padding: 15px;
    text-shadow: 2px 2px 2px #8ebfed;
}

form label {
    padding: 5px;
    font-weight: 450;
}

form label,
form input {
    display: block;
    margin: auto;
}

/* Nav End */

div.right {
    float: right;
    padding: 0 20px;
    width: 70%;
}

section#balaton {
    background: #fbe5d6;
}

section#tisza-to {
    background: #fff2cc;
    margin: 20px 0;
}

section#szelidi-to {
    background: #deebf7;
}

h1 {
    color: black;
    text-transform: uppercase;
    text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white;
}

h1,
h2,
footer {
    font-size: 1.2em;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

h2,
p {
    padding: 10px;
    word-spacing: 5px;
}

img {
    float: right;
    padding: 10px;
    width: 55%;
    border-radius: 30px;
}

@media screen and (max-width: 1220px) {
    header {
        background-position: 50% 20%
    }

    div.left {
        float: none;
        width: 100%;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    div.right {
        float: none;
        width: 100%;
    }

    li a {
        float: left;
        margin: 10px;
    }

    button.dropbtn {
        display: block;
        background-color: #deebf7;
        border: 3px outset #8ebfed;
        border-bottom-color: #41719c;
        border-right-color: #41719c;
        border-radius: 20px;
        padding: 5px;
        margin: 10px;
    }
    div.dropdown {
        position: relative;
        display: inline-block;
        bottom: 4px;
    }

    div.dropdown:hover div.drop-content {
        display: block;
    }

    div.dropdown:hover button.dropbtn {
        border: 3px inset #8ebfed;
        border-top-color: #41719c;
        border-left-color: #41719c;

    }

    div.drop-content {
        display: none;
        position: absolute;
        background-color: #deebf7;
        border: 2px solid #41719c;
        border-top: none;
        border-radius: 30px;
        -moz-transform: translate(-65px, 0px);
        -webkit-transform: translate(-65px, 0px);
        -o-transform: translate(-65px, 0px);
        -ms-transform: translate(-65px, 0px);
    }

    label#form {
        border: none;
    }
}

@media screen and (max-width: 750px) {
    header {
        background-position: 40% 20%
    }

    section {
        margin: auto;
        text-align: center;
    }
    img {
        width: 80%;
        float: none;
    }

    h2,
    p {
        word-spacing: normal;
    }

    li a {
        float: none;
    }
}