* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	font-family: "Noto Sans", sans-serif;
	scrollbar-color: black white;
}

body {
	margin: auto;
	background-color: bisque !important;
}

header,
footer {
	min-height: 10vw;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 1vw;
}

footer p {
	padding-top: 5em;
}

li a {
	text-decoration: none;
	color: rgb(161, 0, 0);
}

li a:hover {
	color: rgb(179, 145, 104);
}

a#icon {
	background-image: url(../img/logo.png);
	background-size: cover;
	height: 60px;
	width: 60px;
	float: left;
	border-radius: 50%;
	margin-left: 1vw;
	border: 2px inset bisque;
}

a#icon:hover {
	border: 2px outset bisque;
}

h1 {
	padding-right: 60px;
}

/* Nav Start */

nav {
	background-color: white;
	width: 100%;
	height: 60px;
}

div.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: auto;
	justify-content: space-between;
}

div.navbar ul {
	display: flex;
	margin: 0.5em;
}

div.navbar li {
	margin: 0.5em;
}

div.navbar a {
	font-size: medium;
	font-weight: 400;
	color: black;
}

div.navbar a:hover {
	color: maroon;
}

/* Nav End */

/* Dev Start */

div#devOne {
	background-image: url(../img/list/diced1.png);
}

div#devTwo {
	background-image: url(../img/list/diced2.png);
}

div#devThree {
	background-image: url(../img/list/diced3.png);
}

div#devOne,
div#devTwo,
div#devThree {
	background-size: cover;
	height: 60px;
	width: 60px;
	margin-right: 10px;
	float: left;
	position: absolute;
	left: 3vw;
}

div#devOne:hover,
div#devTwo:hover,
div#devThree:hover {
	background-position: 50% 90%;
}

li.dev{
	margin-left: 3em;
	min-height: 60px;
	line-height: 40px;
}

/* Dev End */

img {
    display: block;
	max-height: 35vw;
    margin: auto;
}

h1,
h2,
p,
div#dots,
div#questions * {
    text-align: center;
}

h2 {
    padding: 0.5em;
	font-weight: 400;
}

p,
li {
	padding: 10px;
}

p {
	line-height: 25px;
}

div.box {
    margin-bottom: 2em !important;
    margin-top: 2em !important;
    background-color: white !important;
    border: 1px solid lightgray;
    width: 95%;
    border-radius: 10px;
    margin: auto;
    padding: 1em;
}

div#questions {
    margin-bottom: 2em !important;
    margin-top: 2em !important;
    background-color: white !important;
    border: 1px solid lightgray;
    width: 45%;
    border-radius: 10px;
    margin: auto;
    padding: 1em;
}

form p {
	font-size: 18px;
	margin-top: 1em;
}

input[type=radio] {
	margin-right: 10px;
}

input[type=submit] {
	display: block;
	margin: auto;
	padding: 2px;
	font-size: large;
}

  div.characters {
	margin: auto;
  }

  div#charaY,
  div#charaX {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
  }

  div#charaY img,
  div#charaX img {
	align-items: center;
    margin: 1em;
  }

  /* Slideshow Start */

  div.slideshow {
	max-width: 65vw;
	position: relative;
	margin: auto;
  }

  div.slideshowImgs {
    display: none;
  }
  
  
.prevSlide,
.nextSlide {
	cursor: pointer;
	position: absolute;
	bottom: 30%;
	width: auto;
	padding: 16px;
	color: white;
	background-color: rgba(0,0,0,0.8);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
    text-decoration: none;
  }

.nextSlide {
	right: 0;
	border-radius: 3px 0 0 3px;
  }

  .prevSlide:hover,
  .nextSlide:hover {
	color: cyan;
  }

  div#dots {
	  border: none;
  }

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #9dc2c3;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
	background-color: #54a4a6;
  }
  
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

  /* Slideshow End */

/* Social Media Links Start */

ul#socialLinks {
	position:absolute;
	/*top:50%;*/
	left:50%;
	transform: translate(-50%, -50%);
	margin:0;
	padding:0;
	display:flex;
  }
  
  ul#socialLinks li {
	list-style: none;
  }
  
  ul#socialLinks li a {
	position: relative;
	top: 60%;
	width:50px;
	height:50px;
	display:block;
	text-align:center;
	margin:0 5px;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration:none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
  }
  
  ul#socialLinks li a:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	text-decoration:none;
  }
  
  ul li a .fa {
	width: 100%;
	height:100%;
	display:block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 20px);
	font-size:24px;
	color: #262626;
	transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fa {
	color: #3b5998;
  }
  
  ul li:nth-child(2) a:hover .fa {
	color: #00aced;
  }
  
  ul li:nth-child(3) a:hover .fa {
	color: #e4405f;
  }

  /* Social Media Links End */

  /* Responsiveness Start */

  @media screen and (max-width: 950px) {
	div#questions {
		width: 70%;
	}
  }

  @media screen and (max-width: 800px) {
	a#icon {
		height: 8vw;
		width: 8vw;
	}

	h1 {
		padding-right: 8vw;
	}
  }

  @media screen and (max-width: 600px) {
	nav {
		height: 140px;
	}
	
	div.navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		margin: auto;
		justify-content: space-between;
	}
	
	div.navbar ul {
		display: flex;
		flex-direction: column;
		margin: 0.5em;
	}

	div.navbar li {
		padding: 3px;
	}

	div#questions {
		width: 95%;
	}
  }

  @media screen and (max-width: 400px) {
	div#gameScreen {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
		"img"
		"text";
		grid-gap: 20px;
	}

	img {
		max-height: none;
		width: 90%;
	}

	.prevSlide,
	.nextSlide {
		bottom: 15%;
		padding: 10px;
		font-size: 14px;
		border-radius: 3px;
 	 }
  }

  @media screen and (max-width: 300px) {
	textarea#comment {
		width: 80%;
	}

	select#deathCount {
		width: 80%;
	}
  }

  /* Responsiveness End */